[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nmrrr"]
	path = nmrrr
	url = https://github.com/kaizadp/nmrrr
	shallow = true
	registered = true
